#container{
	max-width:780px;
	min-width: 280px;
	widows:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	padding:20px;
	background-color:white;
	text-align: left;
}
#logo{
	padding: 0px;	
	max-width: 270px;
}
#headline{
	margin-top: 30px;
	margin-bottom: 35px;
	font-weight: 200;
	color: #666;
	font-size: 2.7em;
}
.headline_net{
	margin-bottom: 30px!important;
}
.page{ 
	display: none; 
	margin-top: 1px;
	padding-bottom: 20px;
	background-color: #f7f7f7;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#container_general{
	width:100%; 
	padding-left:0%;
	text-align: left;
    margin-left: auto ;
    margin-right: auto ;
}

#container_devices{
	width:100%; 
	margin:0px; 
	padding:0px;
	text-align: left;
}
#container_start{
	width:100%; 
	padding-left:0%;
	text-align: left;
    margin-left: auto ;
    margin-right: auto ;
     vertical-align: middle; 
}
#container_files{
	width:80%; 
	padding-left:20%;
	padding-right:0%;
	text-align: left;
	background-color: #f7f7f7;
}
#container_networks{
	width:80%; 
	padding-left:20%;
	padding-right:0%;
	text-align: left;
	background-color: #f7f7f7;
}
#container_caption{
	width:95%; 
	padding-left:0%;
	text-align: left;
    margin-left: 10% ;
    margin-right: auto ;
}
.container_status{

    width: auto;
	padding-left: 5%;
    padding-top: 4px;
	padding-right: 5%;
	height: 15px;
	margin-top: 5px!important;
	margin-bottom: 5px!important;
	background: #333;
    font-size: .5em;
    color: #00ff00;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.device{
	
}
.config_container{
	margin: 0px;
	margin-top: -25px;
	margin-bottom: -10px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-size: 2em;
}
.loading{
	margin-left: 10px;
	height: 15px;
	width: 30px;
}


/*responsive*/

@media (max-width: 600px) {
	#headline {
		font-size: 2em;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.headline_net{
		margin-bottom: -5px!important;
	}
	.button, input[type="submit"], button, .toggle-title {
  		font-size: 1.8em!important;
  	}
  	input[type=checkbox].css-checkbox + label.css-label {
  		font-size: 1.5em!important;
  		line-height: 2em!important;
  		margin-bottom: 2px!important;
  	}
  	.btnnext{
  		margin-bottom: 0px!important;
  	}
  	.warning{
  		font-size: 1.2em!important;
  		margin-top: 25px!important;
  		margin-bottom: -15px!important;
  	}
}





/* -------------------------------------------------------------
======	RESET
------------------------------------------------------------- */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
:hover, :focus, :active { outline: none; }


html, button, input, select, textarea {
	font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-weight: 400; /* normal */
	color: #555; 
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);}

select.networks {
    font-size: 1.2em; 
	color: #555; 
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

body {   margin: 0; font-size: 13px; line-height: 1.6; color: #555 }
	

a { color: #0078CF; font-weight: normal;
	cursor: pointer;  text-decoration: none;
	transition:color 0.2s ease; -moz-transition:color 0.2s ease; -webkit-transition:color 0.2s ease; -o-transition:color 0.2s ease;}

a:hover { color: #000; text-decoration: no-underline; background: rgba(0, 0, 0, .025);} 

::-moz-selection { background: #0078CF; color: #fff; text-shadow: none; }
::selection { background: #0078CF; color: #fff; text-shadow: none; }	

p{margin: 0 0 1em;}
p:last-child {margin-bottom: 0;}

a:visited{opacity:0.9;}
a:active, a:focus{position:relative;top:1px;}
abbr[title]{border-bottom:1px dotted}
dfn{font-style:italic}
hr{display:block; height:1px; border:0; border-top:1px solid #ddd; margin:1em 0; padding:0}
pre, code, kbd, samp{font-family:monospace,monospace; _font-family:'courier new',monospace; font-size:1em}
q{quotes:none}
q:before, q:after{content:""; content:none}
blockquote { margin: 1em 1em 1em 0; padding: 1em; border-left: 1px solid #DDD; font-style: italic; color: #999;}
blockquote p {font-size: 1.1em;line-height: 2em;margin-bottom: 0;}
blockquote small {display: block;font-size: 1em;line-height: 1.6em;color: #bfbfbf; text-align: right;}
blockquote small:before {content: '\2014 \00A0';}
b, strong{font-weight:700}
small{font-size:85%; color: #999;}
sub, sup{font-size:75%; line-height:0; position:relative; vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
dd{margin:0 0 0 40px} dt{font-weight: 700;}
ul, ol{list-style:none; list-style-image:none; margin:0; padding:0;}
ol.tos{list-style:decimal; list-style-image:none; margin:0; padding:15px;}

img{border:0; -ms-interpolation-mode:bicubic; vertical-align:middle}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:0; margin:0; padding:0}
legend{border:0; *margin-left:-7px; padding:0;white-space: normal;}
button, input, select, textarea{font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle}
button, input{line-height:normal; *overflow:visible}
table button, table input{*overflow:auto}
button, input[type="button"], input[type="reset"], input[type="submit"]{cursor:pointer; webkit-appearance:button}
input[type="checkbox"], input[type="radio"]{box-sizing:border-box}
input[type="search"]{-webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner, input::-moz-focus-inner{border:0; padding:0}
textarea{overflow:auto; vertical-align:top; resize:vertical}
table{border-collapse:collapse; border-spacing:0}
td{vertical-align:top}
.chromeframe { margin: 1em 0; background: red; color: black; padding: 1em; }



/* -------------------------------------------------------------
======	STYLES
------------------------------------------------------------- */

/* -- FORMS 
------------------------------------------------------------- */
form{margin-top: 2em;}
form li{margin-bottom: 1.5em;}
label{display: block; margin-bottom:1em; font-weight: 400; color: #777}
input, select, textarea {
	border: 1px solid #DDD;
	color: #777;
	font-size: 1em;
	padding: 1em;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(/js/boxsizing.htc); }
textarea{padding: 1em; min-height:15em; height: auto; width: 100%; }
input, textarea {
 -moz-transition: border .25s;
 -webkit-transition: border .25s;
 -o-transition: border .25s;
 transition: border .25s;}
input:hover, textarea:hover, input:focus, textarea:focus,input:active, textarea:active { border: 1px solid #999;}
input[type="text"],textarea{cursor: text;}
input[type="radio"], input[type="checkbox"] { display: inline; width:auto; height: auto; margin-right: 1em; }
input[type="checkbox"] + label, input[type="radio"] + label { display: inline;}


label.upload input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
.upload {
    border: 0px solid #AAA;
	padding: 0.6em 1.2em;
    margin: 0px;
    text-align: center;
    background: #DDD;
}
.upload:hover {
    background: #CCC;
}
.upload:active {
    background: #CCF;
}
.upload :invalid + span {
    color: red;
}
.upload :valid + span {
    color: red;
}
input[type="date"]{ width: auto;}
select {height: auto;}
/* Placeholders */

::-webkit-input-placeholder {
   color: red;
	font-size: 1.1em;
    text-align: center
}
:-moz-placeholder { /* Firefox 18- */
   color: red;  
	font-size: 1.1em;
    text-align: center
}
::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
	font-size: 1.1em;
    text-align: center
}
:-ms-input-placeholder {  
   color: red;  
	font-size: 1.1em;
    text-align: center
}
/* validate.js */
label.error { color: #0078CF; margin: 0.5em 0 0 0.5em; font-weight: normal; font-style: italic; }

/* -- MISC
------------------------------------------------------------- */
figure { max-height: 100%; overflow: hidden;}
figure figcaption { }
img { max-width: 100%; height: auto; width: auto; }
a img {
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease; }
a img:hover {
	*zoom: 1;
	opacity: 0.7;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
	filter: alpha(opacity = 70);}
    
    
/* -------------------------------------------------------------
======	PAGES
------------------------------------------------------------- */
    
/* -- HEADER
------------------------------------------------------------- */
header#navtop { margin-bottom: 2em; clear: both; overflow: hidden; }
    header nav ul { float: left; overflow: hidden; padding: 0 3em 0 2em; border-left: 1px solid #ddd; line-height: 2em; }
nav a, menu a { text-decoration: none; color: #555; }
.navactive { color: #760000 }
.logo {margin-bottom: 3em;}
.logo:hover {background: none;}
		
		
/* -- GENERAL 
------------------------------------------------------------- */
.main > section { margin-bottom: 7em; }
.main header{ color: #555; margin-bottom: 3em; }
.main header hr{border-top-color:#999;}
.arrow:after {content:" \27F6"; /* html unicode: &#10230; */ } 
header .arrow {color: #999; font-style: italic;}
.arrow:hover {color: #0078CF; }


/* -- TYPO
------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6{
	margin:0 0 0em; 
	font-weight: normal;
}

h1 {
	font-size: 2.0em; 
	letter-spacing: -0.01em; 
	line-height: 0.9; 
	color: #555;
	margin: 0 0 0.5em; 
}
h2 { font-size: 1.75em; margin: 0 0 20px; letter-spacing: -0.05em; color: #555; line-height: 1; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.17em; text-transform: uppercase; margin-left: 5em; margin-top: -2em; color: #555; }
h6 { font-size: 1.6em; text-transform: uppercase; margin: 0; font-weight: 700; }

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:#333; text-decoration: none;}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{color:#0078CF;text-decoration: underline;}


/* -- FOOTER
------------------------------------------------------------- */
footer  { 
   color: #555; 
   position:relative;
   bottom:0;
   width:100%;
   height:20px;   /* Height of the footer */
}

footer nav ul { float: right; overflow: hidden; }
footer a {color: #999;}
footer li { float: left; margin-right: 1em; padding-right: 1em; border-right: 1px solid #DDD; font-size: 0.8em; }
footer li:last-child { margin-right: 0; padding-right: 0; border-right: none; }


/* -- HOME-PAGE
------------------------------------------------------------- */
/* Services */
.services aside { color: #999; padding-top: 1em; border-top: 1px solid #DDD;}
.services aside:after, .services h5:after { content: ""; display: block; height: 1px; width: 1em; background: #DDD; margin: 1em 0; }

/* Slider */
	/* Browser Resets */
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus  {outline: none;}
.slides,.flex-control-nav,.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 
	/* FlexSlider Necessary Styles */ 
.flexslider {margin: 0; padding: 0; position: relative;}
.flexslider .slides > .slide {display: none; -webkit-backface-visibility: hidden;}
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

.slide figcaption {
	position: absolute;
	background: white; 
	height: auto; min-height: 3em; width: 60%; padding: 1em; 
	top: 3em; right: 0; }
.slide figcaption div { text-align: right; display: block; border-right: 1px solid #DDD; padding: 0 2em 0 0; margin: auto 5em auto 0; }
.slide figcaption div p { margin: 0 }
.flex-direction-nav{ position: absolute; top: 4em; right: 1.5em; z-index: 10;}
.flex-direction-nav li {display: inline;}
.flex-prev, .flex-next{ text-decoration: none; color: #999;	margin-left: 1em;}
.flex-prev:hover, .flex-next:hover{ color: #0078CF}


/* -- WORKS / Home-page and Works-page
------------------------------------------------------------- */
.works figure > a{ 
	display: block; 
	height: 100%; width: 100%; 
	overflow: hidden; 
	position: relative;
	border-top: 1px solid #DDD; padding-top: 1em; }
 	
.works figure .zoom{ 
	display: block; 
	position: absolute; top: 10px; left: 0; 
	background: url(../img/zoom.png) no-repeat center; 
	width: 100%; height: 100%; 
	*zoom: 1;
	opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 0);
	filter: alpha(opacity = 0); }

.works figure figcaption{ margin-top: 1em; padding: 0 0.5em; white-space: nowrap; }
.works figure figcaption a{line-height:2em; color: #555; font-weight: 700; }
.works figure figcaption p{ margin: 0; }

.works-page .works figure { margin-bottom: 3em;}

.main aside{margin-bottom: 3em}
.main aside menu{padding: 0 0 0 1em; line-height: 2em;}
.main aside menu a{color: #999;}
.main aside menu .buttonactive {color: #0078CF }


/* -- SUBPAGES 
------------------------------------------------------------- */
/*Separations*/
.main:not(.home-page) > section article h2 { margin-top: 1em; padding-top: 1em; border-top: 1px solid #DDD; }
.main:not(.home-page) > section article:first-child h2 { margin-top: 0;}

/* Work-page (single) */
.work-page figure {margin-bottom: 3em;}
.work-page figcaption {text-align: center; margin-top: 1em;}

/* Services-page */
.warning { 
	background: #ce5252; 
	color: white;
	text-align: center; 
	padding: 15px; 
	padding-top: 12px;
	margin: 0px; 
	font-size: 1.2em;
	line-height: 1.3em;
	font-weight: 400;
	border-radius: 2px;
}
.warning a {
    text-decoration: underline;
    color: #ffffff; 
} 
.warning2{ 
	background: #82cc51; 
}
.warning3{ 
	margin-top: 15px!important;
	margin-bottom: 15px!important;
	background: #82cc51; 
    font-size: 1.2em;
}
.stdout{ 
	margin-top: 15px!important;
	margin-bottom: 15px!important;
	background: #222; 
}

#reports_container{
	margin-left: -15px!important;
	margin-right: -20px!important;
	background-color: #eaeaea;
	height: 200px;
	width: 104.1%!important;
	border: 0px!important;
	overflow: scroll;
	width:101%;
	padding: 0px!important;
	font-size: 12px!important;
}
.reports_entry{
	background-color: white;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 2px;
	font-size: 1.3em;
	cursor: default;
    text-align: center;
}
.reports_entry:hover{
	color: black;
	background-color: #eaeaea;
}
  
/* - Tabs */
.tabs {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #ddd; }
.tabs li {
    display: inline-block; margin-bottom: -1px; }
.tabs li a {
    display: block; 
    text-decoration: none;
    line-height: 3em;
    color: #555; 
    padding: 0 2em; 
    margin: 0;
    background: #f5f5f5;
    font-size: 1.1em;}
.tabs li a:hover{color: #000;}
.tabs li.active a{
	background: #fff;
	position: relative;
	border: 1px solid #DDD;
	border-bottom-color: #FFF;
	color: #111;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px; }

.tab_container { margin-bottom: 1em; display: block; border-left: 1px solid #ddd; padding: 15px 15px 0;}
.tab_container > article { display:none; }
.tab_container > article:first-child { display: block; }






/* -- BUTTONS 
------------------------------------------------------------- */


input[type=checkbox].css-checkbox {						
	position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
	background: #ccc;
}
input[type=checkbox].css-checkbox + label.css-label {
	padding-left:60px;
	height:44px; 
	display:inline-block;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:2em;
	vertical-align:middle;
	cursor:pointer;
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 20px;
	color: #666;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -44px;
}
label.css-label {
	background-image:url(img/cb-bg_lg.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.css-label-narrow{
	margin-left: 0px!important;
}

input[type=radio].css-radio {						
	position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
	background: #ccc;
}
input[type=radio].css-radio + label.css-label {
	padding-left:60px;
	height:44px; 
	display:inline-block;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:2em;
	vertical-align:middle;
	cursor:pointer;
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 20px;
	color: #666;
}
input[type=radio].css-radio:checked + label.css-label {
	background-position: 0 -44px;
}

.macaddr { 
	font-size: 10px; 
	text-align: right; 
	color: #999; 
}

.button, input[type="submit"], button, .toggle-title {
	color: #666;
	font-size: 2.2em;
	font-weight: 800;
	padding: 0.6em 1.2em;
	border: solid 1px #999;
    /*text-shadow: -2px 2px 4px rgba(0,0,0,0.9);*/
    cursor: pointer;
	
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f6f6 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f6f6 0%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f6f6 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f6f6 0%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
		
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all; }
.button:hover, input[type="submit"]:hover, button:hover, .toggle-title:hover {
	color: #333;
	text-decoration: none;
	border-color: #BBB;
	background: #e8e8e8;}
.button:focus, input[type="submit"]:focus, button:focus, .toggle-title:focus {
	color: #333;
	border-color: #BBB;
}

.btn {
	text-align: center;
	background: #ff3d3d;
	background-image: -webkit-linear-gradient(top, #ff3d3d, #d93434);
	background-image: -moz-linear-gradient(top, #ff3d3d, #d93434);
	background-image: -ms-linear-gradient(top, #ff3d3d, #d93434);
	background-image: -o-linear-gradient(top, #ff3d3d, #d93434);
	background-image: linear-gradient(to bottom, #ff3d3d, #d93434);

	padding: 10px 20px 10px 20px;
	text-decoration: none;
	width:100%;
}

.btn:hover {
  background: #3c91fa;
  background-image: -webkit-linear-gradient(top, #3c91fa, #347bd1);
  background-image: -moz-linear-gradient(top, #3c91fa, #347bd1);
  background-image: -ms-linear-gradient(top, #3c91fa, #347bd1);
  background-image: -o-linear-gradient(top, #3c91fa, #347bd1);
  background-image: linear-gradient(to bottom, #3c91fa, #347bd1);
  text-decoration: none;
}


.btnnext {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	background: #ff3d3d;
	background-image: -webkit-linear-gradient(top, #ff3d3d, #d93434);
	background-image: -moz-linear-gradient(top, #ff3d3d, #d93434);
	background-image: -ms-linear-gradient(top, #ff3d3d, #d93434);
	background-image: -o-linear-gradient(top, #ff3d3d, #d93434);
	background-image: linear-gradient(to bottom, #ff3d3d, #d93434);
	border:2px solid black!important;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	width:100%;
	color:black!important;
	font-weight: 500!important;
	max-width: 350px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.btnnext:hover {
	color:red!important;
	border:2px solid red!important;
	background: #3c91fa;
	background-image: -webkit-linear-gradient(top, #3c91fa, #347bd1);
	background-image: -moz-linear-gradient(top, #3c91fa, #347bd1);
	background-image: -ms-linear-gradient(top, #3c91fa, #347bd1);
	background-image: -o-linear-gradient(top, #3c91fa, #347bd1);
	background-image: linear-gradient(to bottom, #3c91fa, #347bd1);
	text-decoration: none;
}


.btnarm {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	background: #ff3d3d;
	background-image: -webkit-linear-gradient(top, #ff3d3d, #d93434);
	background-image: -moz-linear-gradient(top, #ff3d3d, #d93434);
	background-image: -ms-linear-gradient(top, #ff3d3d, #d93434);
	background-image: -o-linear-gradient(top, #ff3d3d, #d93434);
	background-image: linear-gradient(to bottom, #ff3d3d, #d93434);
	border:2px solid red!important;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	width:100%;
	color:red!important;
	font-weight: 500!important;
	max-width: 350px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.btnarm:hover {
	color:white!important;
	border:2px solid red!important;
	background: red!important;
	text-decoration: none;
}


/* - Toggles */  
.toggle-view > li {
    margin-top: 1em;
    position: relative; }
.toggle-title {
	padding: 0.38em 1em;
	text-align: center;
}
.toggle-title-detail {
    font-size: 0.8em;
    color: #999;
    font-weight: normal;
    text-transform: lowercase; }
.toggle-title:after {
    content: "\25C0";
    float: right;
    color: #999; 
    display: none;
}
.toggle-title:hover:after { color: #555 }
.tactive { background: #FFF }
.tactive:after {
    content: "\25BC";
    color: #555;

}
.toggle {
    padding: 1em 2em;
    display: none;
    overflow: hidden; 
}
.toggle > ul li { line-height: 2.5 }
.toggle > ul li:before {
    content: "\2714 ";
    color: #ddd;
    margin-right: 1em; 
}
.php-file-tree {
	font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;	line-height: 1.5;
}

	.php-file-tree A {
		color: #000000;
		text-decoration: none;
	}
	
	.php-file-tree A:hover {
		color: #666666;
	}

	.php-file-tree .open {
		font-style: italic;
	}
	
	.php-file-tree .closed {
		font-style: normal;
	}
	
	.php-file-tree .pft-directory {
		list-style-image: url(dir_img/directory.png);
	}
	
	/* Default file */
	.php-file-tree LI.pft-file { list-style-image: url(dir_img/file.png); }
	/* Additional file types */
	.php-file-tree LI.ext-3gp { list-style-image: url(dir_img/film.png); }
	.php-file-tree LI.ext-afp { list-style-image: url(dir_img/code.png); }
	.php-file-tree LI.ext-afpa { list-style-image: url(dir_img/code.png); }
	.php-file-tree LI.ext-asp { list-style-image: url(dir_img/code.png); }
	.php-file-tree LI.ext-aspx { list-style-image: url(dir_img/code.png); }
	.php-file-tree LI.ext-avi { list-style-image: url(dir_img/film.png); }
	.php-file-tree LI.ext-bat { list-style-image: url(dir_img/application.png); }
	.php-file-tree LI.ext-bmp { list-style-image: url(dir_img/picture.png); }
	.php-file-tree LI.ext-c { list-style-image: url(dir_img/code.png); }
	.php-file-tree LI.ext-cfm { list-style-image: url(dir_img/code.png); }
	.php-file-tree LI.ext-cgi { list-style-image: url(dir_img/code.png); }
	.php-file-tree LI.ext-com { list-style-image: url(dir_img/application.png); }
	.php-file-tree LI.ext-cpp { list-style-image: url(dir_img/code.png); }
	.php-file-tree LI.ext-css { list-style-image: url(dir_img/css.png); }
	.php-file-tree LI.ext-doc { list-style-image: url(dir_img/doc.png); }
	.php-file-tree LI.ext-exe { list-style-image: url(dir_img/application.png); }
	.php-file-tree LI.ext-gif { list-style-image: url(dir_img/picture.png); }
	.php-file-tree LI.ext-fla { list-style-image: url(dir_img/flash.png); }
	.php-file-tree LI.ext-h { list-style-image: url(dir_img/code.png); }
	.php-file-tree LI.ext-htm { list-style-image: url(dir_img/html.png); }
	.php-file-tree LI.ext-html { list-style-image: url(dir_img/html.png); }
	.php-file-tree LI.ext-jar { list-style-image: url(dir_img/java.png); }
	.php-file-tree LI.ext-jpg { list-style-image: url(dir_img/picture.png); }
	.php-file-tree LI.ext-jpeg { list-style-image: url(dir_img/picture.png); }
	.php-file-tree LI.ext-js { list-style-image: url(dir_img/script.png); }
	.php-file-tree LI.ext-lasso { list-style-image: url(dir_img/code.png); }
	.php-file-tree LI.ext-log { list-style-image: url(dir_img/txt.png); }
	.php-file-tree LI.ext-m4p { list-style-image: url(dir_img/music.png); }
	.php-file-tree LI.ext-mov { list-style-image: url(dir_img/film.png); }
	.php-file-tree LI.ext-mp3 { list-style-image: url(dir_img/music.png); }
	.php-file-tree LI.ext-mp4 { list-style-image: url(dir_img/film.png); }
	.php-file-tree LI.ext-mpg { list-style-image: url(dir_img/film.png); }
	.php-file-tree LI.ext-mpeg { list-style-image: url(dir_img/film.png); }
	.php-file-tree LI.ext-ogg { list-style-image: url(dir_img/music.png); }
	.php-file-tree LI.ext-pcx { list-style-image: url(dir_img/picture.png); }
	.php-file-tree LI.ext-pdf { list-style-image: url(dir_img/pdf.png); }
	.php-file-tree LI.ext-php { list-style-image: url(dir_img/php.png); }
	.php-file-tree LI.ext-png { list-style-image: url(dir_img/picture.png); }
	.php-file-tree LI.ext-ppt { list-style-image: url(dir_img/ppt.png); }
	.php-file-tree LI.ext-psd { list-style-image: url(dir_img/psd.png); }
	.php-file-tree LI.ext-pl { list-style-image: url(dir_img/script.png); }
	.php-file-tree LI.ext-py { list-style-image: url(dir_img/script.png); }
	.php-file-tree LI.ext-rb { list-style-image: url(dir_img/ruby.png); }
	.php-file-tree LI.ext-rbx { list-style-image: url(dir_img/ruby.png); }
	.php-file-tree LI.ext-rhtml { list-style-image: url(dir_img/ruby.png); }
	.php-file-tree LI.ext-rpm { list-style-image: url(dir_img/linux.png); }
	.php-file-tree LI.ext-ruby { list-style-image: url(dir_img/ruby.png); }
	.php-file-tree LI.ext-sql { list-style-image: url(dir_img/db.png); }
	.php-file-tree LI.ext-swf { list-style-image: url(dir_img/flash.png); }
	.php-file-tree LI.ext-tif { list-style-image: url(dir_img/picture.png); }
	.php-file-tree LI.ext-tiff { list-style-image: url(dir_img/picture.png); }
	.php-file-tree LI.ext-txt { list-style-image: url(dir_img/txt.png); }
	.php-file-tree LI.ext-vb { list-style-image: url(dir_img/code.png); }
	.php-file-tree LI.ext-wav { list-style-image: url(dir_img/music.png); }
	.php-file-tree LI.ext-wmv { list-style-image: url(dir_img/film.png); }
	.php-file-tree LI.ext-xls { list-style-image: url(dir_img/xls.png); }
	.php-file-tree LI.ext-xml { list-style-image: url(dir_img/code.png); }
	.php-file-tree LI.ext-zip { list-style-image: url(dir_img/zip.png); }
