/* ---------------------------------------------------------------------------
======	ICON FONT
--------------------------------------------------------------------------- */

@font-face {
  font-family: 'cu-icons';
  src:  url('../fonts/cu-icons.eot?1ex0a8');
  src:  url('../fonts/cu-icons.eot?1ex0a8#iefix') format('embedded-opentype'),
    url('../fonts/cu-icons.ttf?1ex0a8') format('truetype'),
    url('../fonts/cu-icons.woff?1ex0a8') format('woff'),
    url('../fonts/cu-icons.svg?1ex0a8#cu-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions */
  font-family: 'cu-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-connected:before {
  content: "\e900";
}
.icon-connecting:before {
  content: "\e901";
}
.icon-connection-error:before {
  content: "\e902";
}
.icon-bridge:before {
  content: "\e903";
}
.icon-file-share:before {
  content: "\e904";
}
.icon-reboot:before {
  content: "\e905";
}
.icon-scan:before {
  content: "\e906";
}
.icon-settings:before {
  content: "\e907";
}
.icon-vpn-connecting:before {
  content: "\e908";
}
.icon-vpn-error:before {
  content: "\e909";
}
.icon-vpn-tunneled:before {
  content: "\e90a";
}
.icon-watch:before {
  content: "\e90b";
}
.icon-wifi:before {
  content: "\e90c";
}
.icon-wifi-error:before {
  content: "\e90d";
}
.icon-wifi-off:before {
  content: "\e90e";
}


/* ---------------------------------------------------------------------------
====== GLOBAL HELPERS
--------------------------------------------------------------------------- */

.center {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.line {
	height: 6px;
	background: #e3e3e3;
	border-radius: 3px;
}


/* ---------------------------------------------------------------------------
====== CUSTOM STYLES
--------------------------------------------------------------------------- */

#container {
	max-width:780px;
	min-width: 280px;
	widows:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	padding:20px;
	background-color:white;
	text-align: left;
}

#container_general {
	width:100%; 
	padding-left:0%;
	text-align: left;
    margin-left: auto ;
    margin-right: auto ;
}

#container_devices {
	width:100%; 
	margin:0px; 
	padding:0px;
	text-align: left;
}

#container_start {
	width:100%; 
	padding-left:0%;
	text-align: left;
    margin-left: auto ;
    margin-right: auto ;
     vertical-align: middle; 
}

#container_files {
	width:80%; 
	padding-left:20%;
	padding-right:0%;
	text-align: left;
	background-color: #f7f7f7;
}

#container_networks {
	width:80%; 
	padding-left:20%;
	padding-right:0%;
	text-align: left;
	background-color: #f7f7f7;
}

#container_caption {
	width:95%; 
	padding-left:0%;
	text-align: left;
    margin-left: 10% ;
    margin-right: auto ;
}

.config_container {
	margin: 0px;
	margin-top: -25px;
	margin-bottom: -10px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 0px;
	font-size: 2em;
}


/* -- HEADER -------------------------------------------------------------- */

header {
    width: auto;
	display: block;
	margin-bottom: 2em !important;
	font-size: 1.25em;
	text-align: center;
}

header #logo {
	display: inline-block;
	float: left;
	margin: .75em 0 1.5em 1em;
}

header #logo img {
	height: 70px;
}

#header-buttons {
	display: inline-block;
	float: right;
	margin: .75em 0.5em 1.5em 0;
}

header form {
	margin: 0px;
	display: inline-block;
}

header form button {
	width: auto;
	margin: 0 .5em;
	display: inline-block;
	background-color: transparent;
	border: 0px;
	font-size: 14px;
	font-weight: normal;
	color: #111;
}

header form button:hover {
	background-color: #efefef;
}

header form button i {
	font-size: 30px;
	display: block;
}

header button.wifi-off,
header button.wifi-off {
	color: #d9d9d9;
}

header button.wifi-error,
header button.wifi-error {
	color: #ba1800;
}

#status-bar {
	background: #111;
	border-radius: 5px;
	padding: .75em 1em;
}

#status {
	display: block;	
}

.status-section {
	display: inline-block;
	width: 49%;
	text-align: left;
}

.status-section span {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	padding: 0 .5em 0 0;
	color: #fff;
	font-weight: bold;
	font-size: 1em;
}

#status_color {
	display: inline-block;
}

#status_color i {
	font-size: 1.25em;
}

#status_color.waiting {
	color: #efefef;
}

#status_color.connecting {
	color: #e9dc00;
}

#status_color.connected {
	color: #182ac3;
}

#status_color.tunneled {
	color: #158f00;
}

#status_color.disconnected {
	color: #c6c6c6;
}

#status_color.error {
	color: #ba1800;
}

#status-route span.country {

}

#status-route span.ip {
	color: #c6c6c6;
}

footer {
	display: block;
	margin: 3em 0 1em 0;
}

footer ul {
	margin: 2em auto 0 auto;
	display: block;
	text-align:center;
	list-style: none;
}

footer ul li {
	display: inline;
	margin: 0 1em;
	font-size: 14px;
	color: #a3a3a3;
}

footer img.little-snipper {
	height: 21px;
}


/* -- STATUS -------------------------------------------------------------- */

.loading {
	margin-left: 10px;
	height: 15px;
	width: 30px;
}

.upload {
	cursor:pointer;
	color: #333;
	font-size: 1.75em;
	font-weight: 800;
	padding: 0.6em 1.2em;
	border: 0px;
    cursor: pointer;
	background: #efefef;
    text-align: center;

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
}

.upload:hover {
    background: #CCC;
}

.upload:active {
    background: #CCF;
}

.upload :invalid + span {
    color: red;
}

.upload :valid + span {
    color: red;
}


.button,
.toggle-title {
	width: 100%;
	color: #333;
	font-size: 1.75em;
	font-weight: 800;
	padding: 0.6em 1.2em;
	border: 0px;
    cursor: pointer;
	background: #efefef;

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
}

.button:hover,
.toggle-title:hover {
	color: #333;
	text-decoration: none;
	border-color: #BBB;
	background: #e8e8e8;
}

.button:focus,
.toggle-title:focus {
	color: #333;
	border-color: #BBB;
}

.btn {
	text-align: center;
	background: #ff3d3d;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	width:100%;
}

.btn:hover {
  background: #3c91fa;
  text-decoration: none;
}

.btnnext {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	max-width: 350px;
}

.btnarm {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	background: #ff3d3d;
	color: #fff !important;
	width:100%;
	font-weight: 500!important;
	max-width: 350px;
}

.btnarm:hover {
	color:white!important;
	border:2px solid red!important;
	background: red!important;
	text-decoration: none;
}


/* -- TOGGLES ------------------------------------------------------------- */

.toggle-title {
	width: 100%;
	color: #333;
	font-size: 1.75em;
	font-weight: 800;
	padding: 0.6em 1.2em;
	border: 0px;
    cursor: pointer;
	background: #efefef;

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
}

.toggle-title:hover {
	color: #333;
	text-decoration: none;
	border-color: #BBB;
	background: #e8e8e8;
}

.toggle-title:focus {
	color: #333;
	border-color: #BBB;
}

.toggle-view > li {
    margin-top: 1em;
    position: relative; }

.toggle-title {
	padding: 0.38em 0;
	text-align: center;
}

.toggle-title-detail {
    font-size: 0.8em;
    color: #999;
    font-weight: normal;
    text-transform: lowercase; }

.toggle-title:after {
    content: "\25C0";
    float: right;
    color: #999; 
    display: none;
}

.toggle-title:hover:after {
	color: #555;
}

.tactive {
	background: #FFF;
}

.tactive:after {
    content: "\25BC";
    color: #555;
}

.toggle {
    padding: 1em 2em;
    display: none;
    overflow: hidden; 
}

.toggle > ul li { line-height: 2.5 }
.toggle > ul li:before {
    content: "\2714 ";
    color: #ddd;
    margin-right: 1em; 
}

 
/* ---------------------------------------------------------------------------
======	PAGES
--------------------------------------------------------------------------- */

.navactive { color: #760000 }


/* -- GENERAL ------------------------------------------------------------- */

.main > section { margin-bottom: 7em; }
.main header{ color: #555; margin-bottom: 3em; }
.main header hr { border-top-color:#999;}
.arrow:after { content:" \27F6"; /* html unicode: &#10230; */ } 
header .arrow { color: #999; font-style: italic; }
.arrow:hover { color: #0078CF; }


/* -- LOGIN-PAGE ---------------------------------------------------------- */

#login-imgs {
	margin: 2em auto 4em auto;
}

#login-imgs .little-snipper {
	height: 250px;
	margin: 0 1.5em 0 2em;
}

#login-imgs .logo {
	height: 150px;
	margin: 0 2em 0 1.5em;
}


/* -- HOME-PAGE ----------------------------------------------------------- */

.services aside {
	color: #999;
	padding-top: 1em;
	border-top: 1px solid #DDD;
}

.services aside:after,
.services h5:after {
	content: "";
	display: block;
	height: 1px;
	width: 1em;
	background: #DDD;
	margin: 1em 0;
}

/* Slider */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
	outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
} 

/* -- FlexSlider ---------------------------------------------------------- */

.flexslider {
	margin: 0;
	padding: 0;
	position: relative;
}

.flexslider .slides > .slide {
	display: none;
	-webkit-backface-visibility: hidden;
}

.flexslider .slides img {
	width: 100%;
	display: block;
}

.flex-pauseplay span {
	text-transform: capitalize;
}

.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
} 

html[xmlns] .slides {
	display: block;
} 

* html .slides {
	height: 1%;
}

.slide figcaption {
	position: absolute;
	background: white; 
	height: auto;
	min-height: 3em;
	width: 60%;
	padding: 1em; 
	top: 3em; right: 0;
}

.slide figcaption div {
	text-align: right;
	display: block;
	border-right: 1px solid #DDD;
	padding: 0 2em 0 0;
	margin: auto 5em auto 0;
}

.slide figcaption div p {
	margin: 0;
}

.flex-direction-nav {
	position: absolute;
	top: 4em;
	right: 1.5em;
	z-index: 10;
}

.flex-direction-nav li {
	display: inline;
}

.flex-prev, .flex-next {
	text-decoration: none;
	color: #999;
	margin-left: 1em;
}

.flex-prev:hover,
.flex-next:hover {
	color: #0078CF;
}


/* -- HOME & WORKS PAGE --------------------------------------------------- */

.works figure > a { 
	display: block; 
	height: 100%; width: 100%; 
	overflow: hidden; 
	position: relative;
	border-top: 1px solid #DDD; padding-top: 1em;
}

.works figure .zoom { 
	display: block; 
	position: absolute; top: 10px; left: 0; 
	background: url(../img/zoom.png) no-repeat center; 
	width: 100%; height: 100%; 
	*zoom: 1;
	opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 0);
	filter: alpha(opacity = 0);
}

.works figure figcaption {
	margin-top: 1em;
	padding: 0 0.5em;
	white-space: nowrap;
}

.works figure figcaption a {
	line-height: 2em;
	color: #555;
	font-weight: 700;
}

.works figure figcaption p {
	margin: 0;
}

.works-page .works figure {
	margin-bottom: 3em;
}

.main aside {
	margin-bottom: 3em;
}

.main aside menu {
	padding: 0 0 0 1em;
	line-height: 2em;
}

.main aside menu a {
	color: #999;
}

.main aside menu .buttonactive {
	color: #0078CF;
}


/* -- SUBPAGES ------------------------------------------------------------ */

.main:not(.home-page) > section article h2 {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #DDD;
}

.main:not(.home-page) > section article:first-child h2 {
	margin-top: 0;
}

.work-page figure {
	margin-bottom: 3em;
}

.work-page figcaption {
	text-align: center;
	margin-top: 1em;
}

.warning { 
	background: #ce5252; 
	color: white;
	text-align: center; 
	padding: 15px; 
	padding-top: 12px;
	margin: 0px; 
	font-size: 1.2em;
	line-height: 1.3em;
	font-weight: 400;
	border-radius: 2px;
}

.warning a {
    text-decoration: underline;
    color: #ffffff; 
} 

.warning2 { 
	background: #82cc51; 
}

.warning3 {
	margin-top: 15px!important;
	margin-bottom: 15px!important;
	background: #82cc51; 
    font-size: 1.2em;
}

.stdout {
	margin-top: 15px!important;
	margin-bottom: 15px!important;
	background: #222; 
	width:100%;
	padding: 1em 1.5em;
    font-size: .8em;
}

#reports_container {
	margin-left: -15px!important;
	margin-right: -20px!important;
	background-color: #eaeaea;
	height: 200px;
	width: 104.1%!important;
	border: 0px!important;
	overflow: scroll;
	width:101%;
	padding: 0px!important;
	font-size: 12px!important;
}

.reports_entry {
	background-color: white;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 2px;
	font-size: 1.3em;
	cursor: default;
    text-align: center;
}

.reports_entry:hover {
	color: black;
	background-color: #eaeaea;
}


/* -- TABS ---------------------------------------------------------------- */

.tabs {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #ddd;
}

.tabs li {
    display: inline-block; margin-bottom: -1px; 
}

.tabs li a {
    display: block; 
    text-decoration: none;
    line-height: 3em;
    color: #555; 
    padding: 0 2em; 
    margin: 0;
    background: #f5f5f5;
    font-size: 1.1em;
}

.tabs li a:hover { color: #000; }
.tabs li.active a {
	background: #fff;
	position: relative;
	border: 1px solid #DDD;
	border-bottom-color: #FFF;
	color: #111;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
}

.tab_container {
	margin-bottom: 1em;
	display: block;
	border-left: 1px solid #ddd;
	padding: 15px 15px 0;
}

.tab_container > article { display:none; }
.tab_container > article:first-child { display: block; }

.macaddr { 
	font-size: 10px; 
	text-align: right; 
	color: #999; 
}


/* -- Page: Share Files --------------------------------------------------- */

.php-file-tree {
	font-family: "Open sans", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 1.5;
}

.php-file-tree a {
	color: #000000;
	text-decoration: none;
}

.php-file-tree a:hover {
	color: #666666;
}

.php-file-tree .open {
	font-style: italic;
}

.php-file-tree .closed {
	font-style: normal;
}

.php-file-tree .pft-directory {
	list-style-image: url(dir_img/directory.png);
}

/* Default File */
.php-file-tree li.pft-file	{ list-style-image: url(dir_img/file.png); }

/* File Types */
.php-file-tree li.ext-3gp	{ list-style-image: url(dir_img/film.png); }
.php-file-tree li.ext-afp	{ list-style-image: url(dir_img/code.png); }
.php-file-tree li.ext-afpa	{ list-style-image: url(dir_img/code.png); }
.php-file-tree li.ext-asp	{ list-style-image: url(dir_img/code.png); }
.php-file-tree li.ext-aspx	{ list-style-image: url(dir_img/code.png); }
.php-file-tree li.ext-avi	{ list-style-image: url(dir_img/film.png); }
.php-file-tree li.ext-bat{  list-style-image: url(dir_img/application.png); }
.php-file-tree li.ext-bmp	{ list-style-image: url(dir_img/picture.png); }
.php-file-tree li.ext-c		{ list-style-image: url(dir_img/code.png); }
.php-file-tree li.ext-cfm	{ list-style-image: url(dir_img/code.png); }
.php-file-tree li.ext-cgi	{ list-style-image: url(dir_img/code.png); }
.php-file-tree li.ext-com { list-style-image: url(dir_img/application.png); }
.php-file-tree li.ext-cpp	{ list-style-image: url(dir_img/code.png); }
.php-file-tree li.ext-css	{ list-style-image: url(dir_img/css.png); }
.php-file-tree li.ext-doc	{ list-style-image: url(dir_img/doc.png); }
.php-file-tree li.ext-exe { list-style-image: url(dir_img/application.png); }
.php-file-tree li.ext-gif	{ list-style-image: url(dir_img/picture.png); }
.php-file-tree li.ext-fla	{ list-style-image: url(dir_img/flash.png); }
.php-file-tree li.ext-h		{ list-style-image: url(dir_img/code.png); }
.php-file-tree li.ext-htm	{ list-style-image: url(dir_img/html.png); }
.php-file-tree li.ext-html	{ list-style-image: url(dir_img/html.png); }
.php-file-tree li.ext-jar	{ list-style-image: url(dir_img/java.png); }
.php-file-tree li.ext-jpg	{ list-style-image: url(dir_img/picture.png); }
.php-file-tree li.ext-jpeg	{ list-style-image: url(dir_img/picture.png); }
.php-file-tree li.ext-js	{ list-style-image: url(dir_img/script.png); }
.php-file-tree li.ext-lasso	{ list-style-image: url(dir_img/code.png); }
.php-file-tree li.ext-log	{ list-style-image: url(dir_img/txt.png); }
.php-file-tree li.ext-m4p	{ list-style-image: url(dir_img/music.png); }
.php-file-tree li.ext-mov	{ list-style-image: url(dir_img/film.png); }
.php-file-tree li.ext-mp3	{ list-style-image: url(dir_img/music.png); }
.php-file-tree li.ext-mp4	{ list-style-image: url(dir_img/film.png); }
.php-file-tree li.ext-mpg	{ list-style-image: url(dir_img/film.png); }
.php-file-tree li.ext-mpeg	{ list-style-image: url(dir_img/film.png); }
.php-file-tree li.ext-ogg	{ list-style-image: url(dir_img/music.png); }
.php-file-tree li.ext-pcx	{ list-style-image: url(dir_img/picture.png); }
.php-file-tree li.ext-pdf	{ list-style-image: url(dir_img/pdf.png); }
.php-file-tree li.ext-php	{ list-style-image: url(dir_img/php.png); }
.php-file-tree li.ext-png	{ list-style-image: url(dir_img/picture.png); }
.php-file-tree li.ext-ppt	{ list-style-image: url(dir_img/ppt.png); }
.php-file-tree li.ext-psd	{ list-style-image: url(dir_img/psd.png); }
.php-file-tree li.ext-pl	{ list-style-image: url(dir_img/script.png); }
.php-file-tree li.ext-py	{ list-style-image: url(dir_img/script.png); }
.php-file-tree li.ext-rb	{ list-style-image: url(dir_img/ruby.png); }
.php-file-tree li.ext-rbx	{ list-style-image: url(dir_img/ruby.png); }
.php-file-tree li.ext-rhtml	{ list-style-image: url(dir_img/ruby.png); }
.php-file-tree li.ext-rpm 	{ list-style-image: url(dir_img/linux.png); }
.php-file-tree li.ext-ruby	{ list-style-image: url(dir_img/ruby.png); }
.php-file-tree li.ext-sql	{ list-style-image: url(dir_img/db.png); }
.php-file-tree li.ext-swf	{ list-style-image: url(dir_img/flash.png); }
.php-file-tree li.ext-tif	{ list-style-image: url(dir_img/picture.png); }
.php-file-tree li.ext-tiff	{ list-style-image: url(dir_img/picture.png); }
.php-file-tree li.ext-txt	{ list-style-image: url(dir_img/txt.png); }
.php-file-tree li.ext-vb	{ list-style-image: url(dir_img/code.png); }
.php-file-tree li.ext-wav	{ list-style-image: url(dir_img/music.png); }
.php-file-tree li.ext-wmv	{ list-style-image: url(dir_img/film.png); }
.php-file-tree li.ext-xls	{ list-style-image: url(dir_img/xls.png); }
.php-file-tree li.ext-xml	{ list-style-image: url(dir_img/code.png); }
.php-file-tree li.ext-zip	{ list-style-image: url(dir_img/zip.png); }


/* -- RESPONSIVE Tablet --------------------------------------------------- */

@media (max-width: 800px) {

	.button,
	input[type="submit"],
	button, 
	.toggle-title {
  	
	}

  	input[type=checkbox].css-checkbox + label.css-label {
  		font-size: 1.5em!important;
  		line-height: 2em!important;
  		margin-bottom: 2px!important;
  	}

  	.btnnext{
  		margin-bottom: 0px!important;
  	}

  	.warning{
  		font-size: 1.2em!important;
  		margin-top: 25px!important;
  		margin-bottom: -15px!important;
  	}


	/* Page - Login */
	#login-imgs {
		margin: 2em auto 3em auto;
	}

	#login-imgs .little-snipper {
		height: 200px;
		margin: 0 auto 2.5em auto;
		display: block;
	}

	#login-imgs .logo {
		height: 100px;
		margin: 1.5em auto;
		display: block;
	}

}


/* -- RESPONSIVE Phone ---------------------------------------------------- */

@media (max-width: 480px) {

	.button,
	input[type="submit"],
	button,
	.toggle-title {
  	
	}

  	input[type=checkbox].css-checkbox + label.css-label {
  		font-size: 1.5em !important;
  		line-height: 2em !important;
  		margin-bottom: 2px !important;
  	}

  	.btnnext{
  		margin-bottom: 0px!important;
  	}

  	.warning{
  		font-size: 1.2em !important;
  		margin-top: 25px !important;
  		margin-bottom: -15px !important;
  	}

	header #logo {
		height: 50px;
		display: inline-block;
		float: none;
		margin: .75em auto 1.5em auto;
	}

	#header-buttons {
		width: 100%;
		display: block;
		float: none;
		margin: .75em 0.5em 1.5em 0;
	}

	#header-buttons form {
		width: 30%;
		
	}

	/* Page - Login */
	#login-imgs {
		margin: 1.5em auto 2.5em auto;
	}

	#login-imgs .little-snipper {
		height: 175px;
		margin: 0 auto 2em auto;
		display: block;
	}

	#login-imgs .logo {
		height: 75px;
		margin: 1.5em auto;
		display: block;
	}

}
